<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kwick Fitness - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css" type="text/css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img class="logo" src="images/logo.jpg" width="90" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/membership">Membership</a></li>
                <li class="nav-item"><a class="nav-link" href="/schedule">Schedule</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link"> | </a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/groups/133228073411462">
                    <img class="facebook" src="images/facebook.png" width="30" /></a></li>
            </ul>
        </div>
    </nav>

    <br>
    <h1>Connect with us</h1>

    
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                
                <!-- Start your code here -->
                <form method="POST" action="">
                    <fieldset>
                        <legend>Personal Information</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name:</label>
                                    <input class="form-control" name="firstName" type="text" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name:</label>
                                    <input class="form-control" name="lastName" type="text"  />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input class="form-control" name="email" type="text" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone Number:</label>
                                    <input class="form-control" name="phone" type="text"  />
                                </div>
                            </div>
                        </div>
                        
                    </fieldset>
                
                    <hr />
                
                    <input type="submit" class="btn btn-primary float-right" value="Send" /><br /><br /><br />
                </form>

                <!-- End your code here  -->

            </main>
        </div>
    </div>


</body>
</html>