@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.bg-light {
    box-shadow: -1px 16px 18px -3px rgba(97,97,97,1);  
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
}

body,html {
    padding-top: 40px; 
    text-align:center;
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(kettle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}

a.nav-link{
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
}

.bg-light{
    background-color: white !important;
}

h1,
h2{
    font-size: 35pt;
    font-family: 'Acme', sans-serif;
}

h3{
    font-size: 20pt;
    font-family: 'Scada', sans-serif;
}

h4{
    font-size: 15pt;
    font-family: 'Reem Kufi', sans-serif;
}

p{
    font-size: 15pt;
}

p.quote{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15pt;
}

.image{
    width: 910px;
    border: 10px solid #ddd;
    border-radius: 4px;
}

table.schedule td, table.schedule th{
    border: 2px solid black;
    width: 1500px;
    height: 60px;
    font-size: 15pt;
    
}

table.schedule td{
    font-family: 'Poppins', sans-serif;
}

table.plans{
    width: 1500px;
    height: 60px;
    margin-left:auto; 
    margin-right:auto;
}
